<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Diygw安装向导</title>
    <link href="__STATIC__/install/css/base.css" rel="stylesheet" type="text/css"/>
    <link href="__STATIC__/install/css/style.css" rel="stylesheet" type="text/css"/>
    <script src="__STATIC__/install/js/jquery-1.10.2.min.js"></script>
</head>
<body>
<div class="g-install">
    <div class="m-head">
        <h1>DIYGW可视化开发工具</h1>
    </div>
    <div class="m-body">
        <h2 style="color:#FF0000">[ 请结合<a style="color:#FF0000" href="https://gitee.com/diygw/diygw-ui-admin">DIYGW-UI-ADMIN</a> 项目进行开发 ]</h2>
        <p>DIYGW可视化开发工具是一个傻瓜式、拖拽式、模块化开发软件工具。所见即所得，拖拽设计，无编程基础的人都能轻松掌握。只需一次设计，就能拥有微信小程序、支付宝小程序、头条小程序、QQ小程序、百度小程序、FinClip小程序、H5、WebApp、UNIAPP等源码</p>
        <p>[ 由 <a href="https://www.diygw.com" style="color:#FF0000" >diygw.com</a> 独家技术支持 ]</p>
    </div>
</div>
</body>
</html>