{extend name="base/common"/}

{block name="header"}
<header class="jumbotron subhead" id="overview">
    <div class="container">
        <h2>源自相同起点，演绎不同精彩！</h2>
        <p class="lead"></p>
    </div>
</header>
{/block}

{block name="side"}
<!-- 左侧 nav
================================================== -->
<div class="span3 bs-docs-sidebar">
    <ul class="nav nav-list bs-docs-sidenav">
        {:widget('Category/lists', array(1, true))}
    </ul>
</div>
{/block}

{block name="body"}
<div class="span9">
    <!-- Contents
    ================================================== -->
    <section id="contents">
        {:hook('appstore')}
    </section>
</div>
{/block}