!.gitignore
!.gitattributes
*.DS_Store
*.idea
*.svn
*.git
/runtime
/nbproject
!composer.json
/composer.lock
/static/upload
config/database.php
application/tags.php
application/middleware.php
config/install.lock
