!.gitignore
!.gitattributes
*.DS_Store
*.idea
*.svn
*.git
/runtime
/nbproject
!composer.json
/composer.lock
/static/upload
/static/diygw/template
/static/diygw/data
/static/diygw/update
config/database.php
application/tags.php
application/middleware.php
config/install.lock
application/index/controller/Video.php
addons/bmy/controller/Data.php
addons/bmy/Bmy.php
addons/bmy/controller/Index.php
addons/bmy/Common.php
addons/bmy/controller/Index.php
