{extend name="public/base" /}
{block name="style"}
{/block}
{block name="body"}
<div class="row">
    <div class="col-xs-12">
        <!-- 标签页导航 -->
        <div class="tab-wrap">
            <!-- 表单 -->
            <form id="form" action="{$model_info['url']|default=''}" method="post" class="form-horizontal">
                <!-- 基础文档模型 -->
                {include file="base/input"/}
                <!-- /基础文档模型 -->
                <div class="btn-submit-group">
                    <button class="btn submit-btn ajax-post btn-danger" id="submit" type="submit" target-form="form-horizontal">确 定</button>
                    <a class="btn btn-return btn-success" href="#" onclick="javascript:history.back(-1);return false;">返 回</a>
                </div>
            </form>
            <!-- /表单 -->
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script type="text/javascript">
    //导航高亮
    {php}
    $url = isset($highlight_subnav)?$highlight_subnav:url(request()->action());
    {/php}
    var gl_id = $('.side-sub-menu').find('a[href="{$url}"]').html();
    if((gl_id == "" || gl_id == undefined || gl_id == null)){
        highlight_subnav('{:url("index")}');
    }else {
        highlight_subnav('{$url}');
    }
</script>
{/block}
