html,body,#wrapper{overflow: hidden;width:100%;height:100%; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}

.page-header-topbar {
    position: fixed;
    top: 0px;
    z-index: 9999;
    width: 100%;
    height:50px;
}
#topbar{
    background: #2494f2;
    height: 50px;
    width: 100%;
    margin-bottom:0px;
    border:0;
}
a,a:focus{
    outline: none;
}
#topbar .navbar-header {
    background: #2494f2 none repeat scroll 0 0;
    height: 100%;
    text-align: center;
    width: 220px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
#topbar .topbar-main {
    background: #2494f2 none repeat scroll 0 0;
    display: block;
    height: 100%;
}
#topbar.navbar-default .navbar-brand{
    color:#fff;
}
#topbar.navbar-default .navbar-brand:hover,#topbar.navbar-default .navbar-brand:focus{
    color:#eee;
}
#topbar .topbar-main #menu-toggle {
    background-color: transparent;
    border-radius: 0;
    color: #ffffff;
    float: left;
    height: 50px;
    padding: 15px 20px;
    transition: all 0.3s ease 0s;
}

#topbar .topbar-main .nav > li > a {
    color: #fff;
    font-size: 16px;
}
#topbar .nav .open a,
#topbar .nav li > a:hover,
#topbar .nav li > a:focus {
    background-color: #22282e;
    color: #fff;
}
#topbar  .dropdown-menu {
    border: 0 none;
    border-radius: 0;
    margin: 0;
    padding: 0;
}
#topbar  li .dropdown-menu li a {
    color: #333;
    height: auto;
    padding: 10px !important;
}
#topbar  li .dropdown-menu li a i {
    color: #333;
    margin-right: 5px;
    width: 14px;
}
#sidebar{
    background: #293038 none repeat scroll 0 0;
    bottom: 0;
    box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.08);
    font-size: 14px;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 50px;
    width: 220px;
    z-index: 3;
}

#page-wrapper{
    bottom: 0;
    left: 220px;
    overflow-y: scroll;
    position: fixed;
    right: 0;
    top: 50px;
    z-index: 1;
}

.navbar-static-side ul li a {
    display: flex;
    font-size: 14px;
    color: #ffffff;
    background: #22282e none repeat scroll 0 0;
    padding: 12px 15px;

}
.navbar-static-side ul li.active a {
    background: #22282e none repeat scroll 0 0;
    outline: medium none;
}

#topbar .nav .open ul a{
    background: none;
    color:#000;
}
.navbar-static-side ul li a i {
    font-size: 16px;
    min-width: 20px;
    text-align: center;
}

.navbar-static-side li .menu-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    margin-left: 10px;
}
.navbar-static-side .arrow {
    float: right;
    margin-top: 3px;
}

.navbar-static-side .nav li a:hover,
.navbar-static-side .nav li  a:focus {
    background-color: #22282e;
    color: #fff;
}
.navbar-static-side ul li .nav-second-level li.active a, .navbar-static-side ul li .nav-second-level li:hover a, .navbar-static-side ul li .nav-second-level li:focus a {
    background: #2494f2 none repeat scroll 0 0;
    color: #fff;
}

.navbar-static-side ul li .nav-second-level li a {
    background:rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #efefef;
    padding: 8px 8px 8px 40px;
}

.arrow {
    float: right;
    margin-top: 3px;
}
.fa.arrow:before {
    content: "\f104";
}
.active > a > .fa.arrow:before {
    content: "\f107";
}

body.sidebar-collapsed #sidebar{
    width: 0;
}
body.sidebar-collapsed #page-wrapper {
    left: 0 ;
}

#topbar .navbar-top-links li {
    display: inline-block;
}
#topbar .navbar-top-links li li{
    display: block;
}