{extend name='diygw@public/content'}
<div class="page-title">
    页面管理
</div>
{block name='content'}
<div id="news_box">
    {if !empty($pages)}
    <table class="layui-table"  lay-skin="line">
        <thead class="navbar-inner">
        <tr>
            <th style="width:100px;">页面名称</th>
            <th style="width:150px">页面类型</th>
            <th style="width:100px;">操作</th>
        </tr>
        </thead>
        <tbody>
        {foreach $pages as  $item}
        <tr>
            <td>{$item['title']}</td>
            <td>
                {if $item['template']=='mobile'}
                手机端
                {else}
                电脑端
                {/if}
            </td>
            <td>
                <a  data-href='{:url("@diygw/admin/edit",["id"=>$item.id])}' >编辑页面</a>
                <a  data-update="{$item.id}"  data-action='{:url("@diygw/admin/delete")}' data-message="确定删除此页面吗？">删除页面</a>
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    {/if}
</div>
{/block}
