<nav id="sidebar" class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse menu-scroll">
        <ul id="side-menu" class="nav">
            <li class="user-panel hidden">
                <div class="info">
                    <p>系统管理员</p>
                    <ul class="list-inline list-unstyled">
                        <li><a href="#" data-hover="tooltip" title="个人信息"><i class="fa fa-user"></i></a>
                        </li>
                        <li><a href="#" data-hover="tooltip" title="修改头像"><i class="fa fa-camera-retro"></i></a>
                        </li>
                        <li><a href="#" data-hover="tooltip" title="修改密码" data-toggle="modal" data-target="#change-password"><i class="fa fa-key"></i></a></li>
                        <li><a href="#" data-hover="tooltip" title="退出"><i class="fa fa-sign-out"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </li>
            {foreach $groups as $key=>$group}
            <li class="{if $key==0}active{/if}">
                <a href="#">
                    <span class="menu-title">{$group.title}</span><span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse in">
                    {foreach $group['children'] as $item}
                    {if $template=='mobile'}
                    <li {eq name="pageid" value="$item.id"}class="active"{/eq}><a target="pathFrame" href="{:url("@index/page/index",["pid"=>$item.id,"template"=>$template])}">{$item['title']}</a></li>
                    {else}
                    <li {eq name="pageid" value="$item.id"}class="active"{/eq}><a target="pathFrame" href="{:url("@diygw/page/index",["pid"=>$item.id,"template"=>$template])}">{$item['title']}</a></li>
                    {/if}
                    {/foreach}
                </ul>
            </li>
            {/foreach}
            {if $template=='web'}
            <li>
                <a href="#">
                    <i class="fa  fa-home"><div class="icon-bg bg-dark"></div></i>
                    <span class="menu-title">订单管理</span><span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse">
                    <li><a target="pathFrame" href="{:url('@diygw/order/index')}">订单管理</a></li>
                </ul>
            </li>
            {/if}
        </ul>
    </div>
</nav>