{extend name='public/content'}

{block name="content"}
<form onsubmit="return false;" action="{:request()->url()}" data-auto="true" method="post" class='form-horizontal layui-form padding-top-20'>

        <div class="layui-form-item">
            <label class="layui-form-label">AppId</label>
            <div class="layui-input-block">
                <input type="text"   name="appid" value="{$config.appid}" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">AppSecret</label>
            <div class="layui-input-block">
                <input type="text"  name="appsecret" value="{$config.appsecret}" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="col-sm-6 col-sm-offset-2">
            <div class="layui-form-item text-center">
                <button class="layui-btn" type="submit">保存配置</button>
            </div>
        </div>

</form>

{/block}
